.grid {
  display: grid;
  grid-template-columns: [max] 1fr [l] 1fr [m] repeat(3, [m] 28vw) [m] 1fr [l] 1fr [max];
}

.main {
  composes: grid;
  width: 100%;
  background: #fff;
  padding-top: max(8em, 20vmin);
}

.title {
  font-size: 4em;
  font-weight: 700;
  color: #000;
  mix-blend-mode: screen;
  background: #fff;
}

.subtitle {
  font-size: 1.5em;
  color: #000;
  opacity: 0.8;
}

.inlineLink {
  color: #406098;
  font-weight: 500;
}

.section {
  display: grid;
  padding: 32px 0 32px;
}

.info {
  font-weight: 400;
  padding-bottom: 32px;
}

.formSection {
  composes: grid;
  padding: 72px 0 72px;
  background-color: #ECF0F3;
}

.footer {
  composes: grid;
  padding: 2em 0;
  background-color: #ECF0F3;
}

.imgFigure {
    grid-column: m / m 4;
    padding: 72px 0 72px;
}

.dashboardImg {
  overflow: hidden;
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 50px 100px -20px rgba(50,50,93,.25), 0 30px 60px -30px rgba(0,0,0,.3);
}

@media (min-width: 45em) {
  .grid {
    grid-template-columns: [max] 1fr [l] minmax(11ch, 0.7fr) [m] repeat(3, [m] 21.66ch) [m] minmax(11ch, 0.7fr) [l] 1fr [max];
  }
  .title {
    font-size: 8em;
  }
  .subtitle {
    font-size: 2em;
  }
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
  .imgFigure {
    padding: 116px 0 128px;
  }
}

.titleContainer {
  grid-column: m / m 4;
  position: relative;
}

.footerNav {
  grid-column: m / m 4;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  color: rgba(0, 0, 0, 0.4);
}

.link:hover {
  color: rgba(0, 0, 0, 0.8);
}

.titlePlaceholder {
  pointer-events: none;
  position: absolute;
  height: 77px;
  width: 100%;
  grid-column: m / m 4;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

@media (min-width: 45em) {
  .titlePlaceholder {
    height: 150px;
  }
}

.blobContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom:0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}



