.main {
  height: 100%;
  width: 100%;
  background: #fff;
  display: grid;
  padding-top: max(8em, 20vmin);
  grid-template-columns: [max] 1fr [l] 1fr [m] repeat(3, [m] 28vw) [m] 1fr [l] 1fr [max];
}

.title {
  font-size: 4em;
  font-weight: 700;
  color: #000;
  mix-blend-mode: screen;
  background: #fff;
}

.subtitle {
  font-size: 1.5em;
  color: #000;
  opacity: 0.8;
}

@media (min-width: 45em) {
  .main {
    grid-template-columns: [max] 1fr [l] minmax(11ch, 0.7fr) [m] repeat(3, [m] 21.66ch) [m] minmax(11ch, 0.7fr) [l] 1fr [max];
  }
  .title {
    font-size: 8em;
  }
  .subtitle {
    font-size: 2em;
  }
}

.titleContainer {
  grid-column: m / m 4;
  position: relative;
}


